.footer{
   background: #353535;
   color: $color-white;
   background: #353535;
   line-height: 28px;
   height: 190px;
   padding: 20px;
   margin-top: 50px;
    a{
        color: $color-white;
    }
    h3{
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        margin-bottom: 15px;
      
    }
    &__link{
        .fa-utensils::before {
            content: "\f2e7";
            margin-right: 5px;
        }
        .fa-hands-helping::before {
            content: "\f4c4";
            margin-right: 5px;
        }
    }
}