@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: #F2F2F2;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}

.btn {
  padding: 20px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn--center {
  width: 50%;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  opacity: 1;
  visibility: visible;
  animation: loader 3s linear;
  animation-fill-mode: forwards;
}
.loader p {
  position: absolute;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
.loader__spinner {
  width: 120px;
  height: 120px;
  border: 9px solid #f7f3f3;
  opacity: 1;
  border-radius: 50%;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  position: absolute;
  animation: spin 2s linear forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.icon {
  fill: transparent;
  stroke: black;
  font-weight: 100;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}
.icon svg {
  overflow: visible;
  width: 2rem;
}
.icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.icon .heart-main:hover {
  stroke: none;
  animation: heart 2s ease-in-out forwards;
}

@keyframes heart {
  0% {
    opacity: 0.5;
    fill: url(#grad1);
    transform: scale(0.9);
  }
  50% {
    opacity: 0.7;
    transform: scale(1);
  }
  80% {
    opacity: 0.8;
  }
  90%, 100% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    fill: url(#grad1);
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 70px;
  position: relative;
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.localisation__city {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  width: 100%;
  height: 55px;
}
.localisation__city .fa-map-marker-alt {
  font-size: 16px;
}
.localisation__city .fa-map-marker-alt::before {
  top: 10px;
  top: -2px;
  position: relative;
  right: 16px;
  font-size: 16px;
  color: #353535;
}
.localisation__city p {
  font-size: 16px;
  color: #353535;
  font-weight: 600;
}
.localisation__info {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 235px;
  text-align: center;
}
.localisation__info h2 {
  font-size: 30px;
}
.localisation__info p {
  font-size: 18px;
  color: #353535;
  margin-top: 15px;
  margin-bottom: 30px;
}

.fonction {
  height: 410px;
  background: #fff;
  margin: 50px 0;
  padding: 20px 0;
}
.fonction h2 {
  font-size: 28px;
  padding: 20px;
}
.fonction__box {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fonction__steps {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background: #F2F2F2;
  margin: 10Px;
  border-radius: 20px;
  width: 80%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fonction__steps span {
  height: 28px;
  padding: 7px 10px;
  background: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: -14px;
  color: #fff;
  font-size: 14px;
}
.fonction__steps i {
  font-size: 18px;
  position: relative;
  right: 30px;
  color: #545353e0;
}
.fonction__steps--purple {
  color: #9356DC;
}
.fonction__steps--purple::before {
  color: #9356DC;
}
.fonction__steps p {
  font-weight: 600;
}

.restaurant {
  padding: 0 20px;
}
.restaurant h2 {
  font-size: 28px;
}
.restaurant__cards {
  width: 100%;
}
.restaurant__card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  margin: 20px 0;
}
.restaurant__card img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  width: 100%;
}
.restaurant__card .new {
  background: #99E2D0;
  padding: 8px 16px;
  color: #139273;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.restaurant__card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.restaurant__card-text h3 {
  font-weight: 600;
}
.restaurant__card-text p {
  margin-top: 5px;
}

.header--shadow {
  box-shadow: none;
}
.header--shadow .fa-arrow-left::before {
  content: "\f060";
  position: absolute;
  top: 28px;
  left: 22px;
}

.image {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.main {
  height: 968px;
  margin-bottom: 170px;
}
.main--note {
  height: 1037px;
}

.global {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  top: 266px;
  width: 100%;
  background: #F2F2F2;
}
.global__title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 35px 30px 0 15px;
  font-family: "Shrikhand";
  font-size: 18px;
}
.global__title .fa-heart:before {
  content: "\f004";
  font-size: 30px;
  color: #545353e0;
}
.global__menu {
  margin: 0px;
}

.global__menu-choice {
  display: flex;
  flex-direction: column;
  margin: 35px 15px;
}
.global__menu-choice h2 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

hr {
  width: 47px;
  height: 3px;
  background: #99E2D0;
  border: none;
  margin: 3px 0 10px 3px;
}

.card-choice {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  line-height: 23px;
  margin: 8px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.card-choice__slide {
  position: absolute;
  height: 66px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  right: 0;
  background: #99E2D0;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: margin-right 900ms;
}
.card-choice .fa-check-circle {
  color: #fff;
  font-size: 22px;
}
.card-choice__text h3 {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-choice__price {
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.card-choice__price p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-choice:hover {
  cursor: pointer;
}
.card-choice:hover > .card-choice__slide {
  visibility: visible;
  margin-right: 70px;
}
.card-choice:hover > .fa-check-circle {
  visibility: visible;
  animation: icon 500ms linear;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes icon {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
.footer {
  background: #353535;
  color: #fff;
  background: #353535;
  line-height: 28px;
  height: 190px;
  padding: 20px;
  margin-top: 50px;
}
.footer a {
  color: #fff;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  margin-bottom: 15px;
}
.footer__link .fa-utensils::before {
  content: "\f2e7";
  margin-right: 10px;
}
.footer__link .fa-hands-helping::before {
  content: "\f4c4";
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
