/*loading-spinner animation*/
.loader{
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    opacity: 1;
    visibility: visible;
    animation: loader 3s linear ;
    animation-fill-mode:forwards;
    p{
        position: absolute;
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        font-size: 20px;
    }
    &__spinner{
        width: 150px;
        height: 150px;
        border: 10px solid rgb(247, 243, 243);
        opacity: 1;
        border-radius: 50%;
        border-top-color: $color-primary;
        border-bottom-color: $color-secondary;
        position: absolute;
        animation: spin 2s linear forwards ;
        
    }
    
    }

   
    @keyframes spin {

        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
        
         @keyframes loader{
         0%{
             visibility: visible;
             opacity: 1;
         }
         50%{
            visibility: visible;
            opacity: 0.5;
        }
         100%{
             visibility: hidden;
             opacity: 0;
            
         }
         }







/*heart animation*/
.icon {
    fill: transparent;
    stroke: black;
    font-weight: 100;
    stroke-width: 20;
    cursor: pointer;
    position: relative;

    svg{
        overflow: visible;
        width: 2rem;
    }
    path {
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
        transform-origin: center;
      }
    .heart-background{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
    }
 /*    .heart-main:hover{
        stroke: none;
        animation: heart 2s ease-in-out forwards;
      
    }
  } */
 
  
  

 /*  @keyframes heart {
    0%{
        opacity: 0.5;
        
        
        fill: url(#grad1);
        transform: scale(0.9);
    }
    50% {
        opacity: 0.7;
        transform: scale(1);
    }
    80%{
        opacity: 0.8;
    }
    90%,100% {
        opacity: 1;
        
       transform: scale(1.1);
    }
    100% {
        transform: scale(1);
       
        fill: url(#grad1);
      }
   
  } */

  .heart-main:hover path {
    stroke:  url(#grad1);
    animation: stroke-animation 2s ease-in-out forwards;
  }

  .heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
  }


@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#grad1);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#grad1);
  }
}
}

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#grad1);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


  /*menu animation*/
  $anim-dur: 1200ms;
  $num-menu: 10;
  $anim-delay: $anim-dur/$num-menu;
  
      .card-choice{
          animation: menu $anim-dur ease-in-out both ;
          @for $i from 1 through $num-menu{
              &--#{$i}{
                  animation-delay: $anim-delay * $i ;
              }
          }
      }
    
  

  @keyframes menu{
      0%{
          transform: translateY(20px);
          opacity: 0;
      }
   
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
  } 