//loading-spinner
.loader{
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    opacity: 1;
    visibility: visible;
    animation: loader 3s linear ;
    animation-fill-mode:forwards;
    p{
        position: absolute;
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
    }
    &__spinner{
        width: 120px;
        height: 120px;
        border: 9px solid rgb(247, 243, 243);
        opacity: 1;
        border-radius: 50%;
        border-top-color: #FF79DA;
        border-bottom-color: #9356DC;
        position: absolute;
        animation: spin 2s linear forwards ;
        
    }
    
    }

   
    @keyframes spin {

        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
        
         @keyframes loader{
         0%{
             visibility: visible;
             opacity: 1;
         }
         50%{
            visibility: visible;
            opacity: 0.5;
        }
         100%{
             visibility: hidden;
             opacity: 0;
            
         }
         }







//heart
.icon {
    fill: transparent;
    stroke: black;
    font-weight: 100;
    stroke-width: 20;
    cursor: pointer;
    position: relative;

    svg{
        overflow: visible;
        width: 2rem;
    }
    .heart-background{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
    }
    .heart-main:hover{
        stroke: none;
        animation: heart 2s ease-in-out forwards;
    }
  }
 
  
  

  @keyframes heart {
    0%{
        opacity: 0.5;
        
        fill: url(#grad1);
        transform: scale(0.9);
    }
    50% {
        opacity: 0.7;
        transform: scale(1);
    }
    80%{
        opacity: 0.8;
    }
    90%,100% {
        opacity: 1;
        
       transform: scale(1.1);
    }
    100% {
        transform: scale(1);
       
        fill: url(#grad1);
      }
   
  }
  //animation menu
  $anim-dur: 1200ms;
  $num-menu: 10;
  $anim-delay: $anim-dur/$num-menu;
  
      .card-choice{
          animation: menu $anim-dur ease-in-out both ;
          @for $i from 1 through $num-menu{
              &--#{$i}{
                  animation-delay: $anim-delay * $i ;
              }
          }
      }
    
  

  @keyframes menu{
      0%{
        
          opacity: 0;
      }
   
    100%{
        
        opacity: 1;
    }
    
  }