//loading-spinner
.loader{
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    opacity: 1;
    visibility: visible;
    animation: loader 3s linear ;
    animation-fill-mode:forwards;
    p{
        position: absolute;
        
        
        font-size: 22px; 
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
    }
    &__spinner{
        width: 150px;
        height: 150px;
        border: 6px solid rgb(247, 243, 243);
        opacity: 1;
        border-radius: 50%;
        border-top-color: #FF79DA;
        border-bottom-color: #9356DC;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        animation: spin 3s linear ;
        animation-fill-mode:forwards;
    }
    
    }

    @keyframes spin {
        0% {
        transform: translate(-50%, -50%) rotate(360deg);
        }
        100%{
            opacity: 0;
          
        }
        }
         @keyframes loader{
         100%{
             visibility: hidden;
             opacity: 0;
            
         }
         }







//heart
.icon {
    fill: transparent;
    stroke: black;
    font-weight: 100;
    stroke-width: 20;
    cursor: pointer;
    position: relative;

    svg{
        overflow: visible;
        width: 2rem;
    }
    .heart-background{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
    }
    .heart-main:hover{
        animation: stroke-animation 2s ease-in-out forwards;
    }
  }
  @keyframes stroke-animation {
   
    50% {
        stroke: none;
        fill: url(#grad1);
        transform: scale(1.1);
    }
    90% {
        stroke: none;
        transform: scale(1);
    }
    100% {
        
        stroke: none;
        fill: url(#grad1);
      }
   
  }
