.btn{
    padding: 20px;
    color: $color-white;
    background: $gradient;
    border-radius: 30px;
    border: none;
    
    @include shadow-box;
    &--center{
        width: 50%;
    }
    &:hover {
        transition: all 0.5s;
        opacity: 0.8;
        cursor: pointer;
        // background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
        box-shadow: rgb(0, 0, 0, 0.6) 0px 0px 10px;
      }
    
}

