@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    
     box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -2px, rgb(0 0 0 / 20%) 0px -2px 0px inset;
    
}
@mixin shadow-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin flex-column {
    flex-direction: column;
}