@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    
     box-shadow: 0 6px 10px 0px rgb(0, 0, 0, 0.20);
    
}
@mixin shadow-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
