@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}

@mixin flex-column {
    flex-direction: column;
}